%tr
  %td= system_formalism.name
  %td= link_to "Show", system_formalism
  %td= link_to "Edit", edit_system_formalism_path(system_formalism)
  %td= link_to "Delete", system_formalism, :confirm => 'Are you sure?', :method => :delete
