* {
	margin: 0;
	padding: 0;
	
}

div#overlay {
	visibility: hidden;
}

div#selection {
	visibility: hidden;
}

#validate_area {
	visibility: hidden;
}

#method_image {
	display:block;
	position: relative;
}

#method_image dd {
  position:absolute;
  padding:0;
  margin:0;
  border: solid thin #ff0000; 
}

#pattern_choice {
	visibility: hidden;
	width: 200px;
	height: 200px;
	padding: 10px;
	background: #dddddd;
	overflow: auto;
	border: solid thin #000000;
}

#pattern_choice li {
	margin-left: 10px;
}

.handle {
	visibility: hidden;
	background: #000000;
	width: 10px;
	height: 10px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0.03em;
	line-height: 1.5em;
/*	margin: 4em auto 8em auto ;*/
	text-align: justify;
	
}

li {
	margin-left: 4em;
	margin-bottom: 0.5em;
}

#header{
	position: relative;
	background-color: #353333;
	width: 100%;
	margin-top: 0;
	padding-top: 15px;
	height: 60px;
}

#header span {
	margin-left: 20px;
	color: #ffffff;
	font-size: 0.85em;
}

#header a {
	color: #37e;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -120px;
}

#content_wrapper {
  position: relative ;
}

#content {
	width: 55%;
	padding-bottom: 50px;
  margin-left: auto ;
  margin-right: auto ;
}

#patternList {
  position: absolute ;
  top: 0;
  right: 0;
	width: 22%;
/*	overflow: auto;*/
}

#patternList > #list-content {
  padding: 1em 1em 2em 0.6em ;
	border-left: solid #CCCCCC;
}

.clearfooter {
   height: 120px;
   clear: both;
}

#copyright_notice{
	height: 120px;
	width: 100%;
	padding-top: 20px;
	background-color: #353333;
}

#patternList ul {
	list-style-type: none;
	
}

#patternList li {
	text-indent: 0em;
	font-size: 0.9em;
	text-align: left;
}

#patternList h3 {
	color: #24A;
	font-size: 1.2em;
}


#navigation_bar {
	position: relative;
	background: #349;
	width: 100%;
/*	padding-left: 2em;*/
	padding-bottom: 0.2em;
	padding-top: 0.2em;
	color: #fff;
	font-size: 0.9em;
  height: 2em ;
}

#navigation_bar a {
	color: #ddd;
}

#params, #pattern_selector {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1.2em;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background: #eee;
	width: 300px;
	height: 230px;
	border: solid 1pt #00f;
}

#params > h2 {
  border: none ;
  position: static ;
  width: auto ;
  text-align: left ;
  margin: 0 ;
  margin-bottom: 0.8em ;
  padding: 0 ;
}

#param_buttons {
	position: relative;
	background: url("/images/common_images/param_button_back.png") no-repeat;
	width: 300px;
	height: 50px;
}

#param_buttons img {
	position: relative;
	top: 2px;
	left: 55px;
	height: 43px;
}

#on_position {
	position: absolute;
	top: 0px;
	left: 52px;
	height: 42px;
	width: 65px;
}

#off_position {
	position: absolute;
	top: 0px;
	left: 167px;
	height: 42px;
	width: 65px;
}

#params_caution {
	margin-top: 1.2em;
	margin-bottom: 1em;
	padding: 1em;
	padding-bottom: 0.2em;
	border: solid thin #24A;
	background-color: #EEEEFF;
}

.helper_info {
	border: solid thin #24A;
	background-color: #EEF;
	padding: 0.4em;
	padding-bottom: 0.1em;
	margin-bottom: 0.6em;
	
}

.popup {
  z-index: 2000;
}


.mapControl {
  position: absolute ;
  width: 8px ;
  height: 8px ;
  border: 1px solid red ;
  z-index: 10 ;
}

#NE_resize {
  right: -4px ;
  top: -4px ;
  cursor: NE-resize ;
}

#NW_resize {
  left: -4px ;
  top: -4px ;
  cursor: NW-resize ;
}

#SE_resize {
  right: -4px ;
  bottom: -4px ;
  cursor: SE-resize ;
}

#SW_resize {
  left: -4px ;
  bottom: -4px ;
  cursor: SW-resize ;
}

.imageFieldTopRight {
  position: absolute ;
  top: -22px ;
  right: -22px ;
  width: 45px ;
  height: 45px ;
  z-index: 10 ;
}

.deleteMapImg {
  position: absolute ;
  top: -12px ;
  right: -12px ;
  width: 25px ;
  height: 25px ;
  z-index: 10 ;
}

.map {
  position: absolute ;
  display: block ;
}

.activeMap {
  cursor: move ;
  border: 1px dashed black ;
}

.opacityBlock {
  position: absolute ;
  z-index: 5 ;
  background-color: #000 ;
  opacity: 0.5 ;
}

.fileUploadIFrame {
  width: 1px ;
  height: 1px ;
  border: 0px ;
}

.relationsLegend {
  margin-top: 1em ;
  background-color: #EEEEFF ;
  padding: 5px ;
  border: 1px solid #9999FF ;
}

.relationLegend {
  display: inline-block ;
  width: 30% ;
  margin-right: 3% ;
  height: 28px ;
}

.relationSquare {
  display: inline-block ;
  width: 22px ;
  height: 22px ;
  border-width: 3px ;
  border-style: solid ;
}

.relationLegend > span {
  vertical-align: 40% ;
}
