* {
	margin: 0;
	padding: 0;
	
}

div#overlay {
	visibility: hidden;
}

div#selection {
	visibility: hidden;
}

#validate_area {
	visibility: hidden;
}

#method_image {
	display:block;
	position: relative;
}

#method_image dd {
  position:absolute;
  padding:0;
  margin:0;
  border: solid thin #ff0000;
}

#pattern_choice {
	visibility: hidden;
	width: 200px;
	height: 200px;
	padding: 10px;
	background: #dddddd;
	overflow: auto;
	border: solid thin #000000;
}

#pattern_choice li {
	margin-left: 10px;
}

.handle {
	visibility: hidden;
	background: #000000;
	width: 10px;
	height: 10px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
	line-height: 1.5em;

/*	margin: 4em auto 8em auto ;*/
	text-align: justify;
	
}

li {
	margin-left: 4em;
	margin-bottom: 0.5em;
}

#header{
	position: relative;
	background-color: #353333;
	width: 100%;
	margin-top: 0;
	padding-top: 15px;
/*	padding-left: 10px;*/
	height: 40px;
}

#header span {
	margin-left: 20px;
	color: #ffffff;
	font-size: 0.85em;
}

#header a {
	color: #37e;
}

#content{
	position: relative;
	float: left;
	width: 55%;
	height: 100%;
	min-height: 100%;
	height: auto !important;
	padding-bottom: 50px;
	margin-bottom: -120px;
	min-width: 450px;
	margin-left: 18em;
	margin-top: 20px;
/*	padding-left: 10%;*/
}

.block {
	margin-top: 4em;
	min-height: 100%;
/*	margin-bottom: 1em;*/
}

#patternList {
	position: relative;
	float: right;
/*	position: fixed;*/
/*	left: 0px;
	top: 0px;*/
	width: 18%;
/*	height: 96.3%;*/
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 80px;
	padding-left: 8px;
	//border: solid #0000FF;
	border-left: solid #CCCCCC;
/*	overflow: auto;*/
}

.clearfooter {
   height: 120px;
   clear: both;
}

#copyright_notice{
	height: 120px;
	width: 100%;
	padding-top: 20px;
	background-color: #353333;
}

#patternList li {
	text-indent: 0em;
	font-size: 0.9em;
	text-align: left;
}

#patternList h3 {
	color: #24A;
	font-size: 1.2em;
}

#top_params {
/*	float: right;*/
	position: absolute;
	right: 0;
	margin-right: 1em;
}

#top_params a {
	color: #aaa;
}

#navigation_bar {
	position: relative;
	background: #349;
	width: 100%;
/*	padding-left: 2em;*/
	padding-bottom: 0.2em;
	padding-top: 0.2em;
	color: #ccc;
	font-size: 0.9em;
}

#navigation_bar a {
	color: #aaa;
}

#params {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1.2em;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background: #eee;
	width: 300px;
	height: 230px;
	border: solid 1pt #00f;
	z-index:20;
}

#param_buttons {
	position: relative;
	background: url("/images/common_images/param_button_back.png") no-repeat;
	width: 300px;
	height: 50px;
}

#param_buttons img {
	position: relative;
	top: 2px;
	left: 55px;
	height: 43px;
}

#on_position {
	position: absolute;
	top: 0px;
	left: 52px;
	height: 42px;
	width: 65px;
}

#off_position {
	position: absolute;
	top: 0px;
	left: 167px;
	height: 42px;
	width: 65px;
}

#params_caution {
	margin-top: 1.2em;
	margin-bottom: 1em;
	padding: 1em;
	padding-bottom: 0.2em;
	border: solid thin #24A;
	background-color: #EEEEFF;
}

.helper_info {
	border: solid thin #24A;
	background-color: #EEF;
	padding: 0.4em;
	padding-bottom: 0.1em;
	margin-bottom: 0.6em;
	
}