@CHARSET "UTF-8";

/*@import "stylesheets/generic.css";*/

h1 {
	margin-bottom: 1.5em;
	line-height: 1.2em;
	text-align: left;
/*	font-family: sans-serif;*/
}



h2 {
	color: #24A; /* #0000bb; */
	font-size: 1.8em;
	margin-top: -0.2em;
	margin-bottom: 1em;
	margin-left: -8.7em;
	padding-left: 0.5em;
	width: 8em;
	float: left;
	line-height: 1.0em;
	text-align: left;
/*	padding-right: 2em;*/
/*	border: solid thin #000000;*/
	}

p {
/*	clear: left ;*/
	margin-bottom: 0.6em;
}

div.errorExplanation {
	border: solid #DD0000;
	padding: 5px;
	background-color: #EEDDDD;
	margin-bottom: 5em;
}

div.errorExplanation h2 {
	color: #DD0000;
}

#method_image {
//	border: solid #FF0000;
	
}

#copyright_notice {
/*	margin-top: 10em;*/
	text-align: center;
	font-size: 0.8em;
	color: #AAA;
}

div#update_field {
	border: solid thin #24A;
	background-color: #EEEEFF;
	padding: 10px;
}

div#update_field h3 {
	color: #24A;
	text-indent: 0px;
	margin-bottom: 0.3em;
	font-size: 1.2em;
}
		
h3 {
	font-size: 1.5em;
	font-weight: bold;
	color: #555;
/*	text-indent: 1.8em;*/
	margin-top: 1.2em;
	margin-bottom: 0.6em;
	}

dd {
	font-size: 1.3em;
	font-weight: bold;
	color: #555;
	text-indent: 4em;
	margin-bottom: 1em;
	}
	
dt {
	margin-bottom: 1.5em;
	}
	
div.rubrique {
	margin: 0 0 2em 2em;
	}
	
li.item {
	list-style-type: disc;
}
