%span#param_span{:style => "float:right; margin-right: 1em;"}
  = link_to_function(image_tag("common_images/settings_btn.png", :style =>"border: 0 none"), nil){|page| page.call	"Popup.toggle", "params" }

