#tabs{:style => "#{@noob_mode ? 'display: none' : ''}"}
  - %w{pattern_systems system_formalisms}.each do |tab|
    .headerTab<
    - if associated_controllers(tab).include?(params[:controller])
      .leftTabPart.leftTabWhite
      .centralTabPart.centralTabWhite>= human_name(tab)
      .rightTabPart.rightTabWhite
    - else
      .leftTabPart.leftTabBlue
      .centralTabPart.centralTabBlue>= link_to human_name(tab), send((tab + '_path').to_sym)
      .rightTabPart.rightTabBlue

