%h1= @pattern_formalism.name

%h2 Interface fields

%ul
  = render :partial => 'field_descriptor', :collection => @interface_fields

%h2 Solution fields
%ul
  = render :partial => 'field_descriptor', :collection => @solution_fields

.commands
  = link_to 'Edit', edit_system_formalism_pattern_formalism_path(@system_formalism, @pattern_formalism)
