-classification = @process_pattern.pattern_system.classification_elements.select{|a| a.field_descriptor_id == field.id}
- if classification.empty?
  %p{:class => 'fieldRelationsMore'}
    = "No element was specified for classification field \"#{field.name}\"."
- else
  - classification_field = nil
  =f.fields_for :classification_selections, (@classifications[field.id].blank? ? @process_pattern.classification_selections.build : @classifications[field.id].first) do |classif_form|
    - classification_field = classif_form.collection_select(:classification_element_id, classification, :id, :name, {:include_blank => true})
    = classification_field
  :javascript
    new AgapSelector($("#{classification_field[/id="([^"]*)"/, 1]}"), AgapSelector.mono_states, AgapSelector.mono_transitions) ;
