%h1= h t(:new_pattern)

-form_for([@pattern_system, @process_pattern], :html => {:multipart => true}) do |f| 
  = f.error_messages
  = render :partial => 'form', :locals => {:f => f}
  %p
    = f.submit t(:create)
