<h1><%= t :list_of_pattern_systems %></h1>

<table id="pattern_systems_list">
<%= render :partial => "pattern_system", :collection => @pattern_systems %>
</table>

<br />

<%= link_to t(:new_pattern_system), new_pattern_system_path %>
