<h1>New Process Pattern</h1>

<% form_for(@process_pattern, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => 'form', :locals => {:f => f} %>

	  <p>
	    <%= f.submit "Create" %>
	  </p>
	<% end %>
